@media (min-width: 993px) {
    .container{
        width: 90%;
    }
}

#body-container {
    margin-top: 50px;
}

.collection a.collection-item {
    color: #2196F3 !important;
}

.collection .collection-item.active {
    color: #FFF !important;
    background-color: #2196F3 !important;
}

.card-panel > h5 {
    color: #2196F3 !important;
    margin: 0%;
}

.card.preview h5 {
    color: #2196F3 !important;
}

.table-of-contents a.active {
    border-left: 2px solid #4A88CB;
}

.table-of-contents a:hover {
    border-left: 2px solid #4A88CB;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #4A88CB ;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #61C5C7;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #2196F3;
}

.card.preview .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #F44336 !important;
}

.card.preview .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #e53935;
}

.wrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.btn {
    color: #FFF;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    text-align: center;
    line-height: 36px;
}

.btn-block {
    display: block;
}

.input-field label.active {
    color: #4A88CB;
}

input:not([type]), input[type="text"], input[type="password"],
input[type="email"], input[type="url"], input[type="time"],
input[type="date"], input[type="datetime-local"],
input[type="tel"], input[type="number"], input[type="search"],
textarea.materialize-textarea, .select-wrapper input.select-dropdown {
    border-bottom: 1px solid #cfd8dc;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #4A88CB;
    box-shadow: 0 1px 0 0 #4A88CB;
}

.input-field input[type=text].ng-invalid.ng-dirty {
    border-bottom: 1px solid #ca1010;
    box-shadow: 0 1px 0 0 #ca1010;
}

.input-field input[type=text].ng-valid.ng-dirty {
    border-bottom: 1px solid #78FA89;
    box-shadow: 0 1px 0 0 #78FA89;
}