<div class="card-panel" ng-show="steps.length < 1">

    <h6><strong>No data to show !!</strong></h6>
    <div class="right-align">
        <a href="#/" class="waves-effect waves-light btn blue">Go to Personal info</a>
    </div>

</div>

<div class="row">
    <div class="col l6 m6 s12" ng-repeat="steps in completedSteps">
        <div class="card preview" ng-show="steps.name === 'Personal Info'">
            <div class="card-content">
                <h5 class="right-align">{{ steps.name }}</h5>
                <p><b>Name</b> : {{ steps.user.first_name + " " + steps.user.last_name }}</p>
                <p><b>E-mail</b> : {{ steps.user.email }}</p>
                <p><b>Gender</b> : {{ steps.user.gender }}</p>
                <p><b>E-mail subscription</b> :
                    <span ng-if="steps.user.email_subscription">Yes</span> <span ng-if="!steps.user.email_subscription">No</span>
                </p>
            </div>
            <div class="card-action">
                <a href="#/">Edit</a>
            </div>
        </div>
        <div class="card preview" ng-show="steps.name === 'Billing Info'">
            <div class="card-content">
                <h5 class="right-align">{{ steps.name }}</h5>
                <p><b>Card type</b> : {{ steps.user.card_name }}</p>
                <p><b>card number</b> : {{ steps.user.card_number }}</p>
                <p><b>Card cvv</b> : {{ steps.user.card_cvv }}</p>
                <p><b>Card expiring on</b> : {{ steps.user.card_expire_month + " " + steps.user.card_expire_year }}</p>
            </div>
            <div class="card-action">
                <a href="#/billing">Edit</a>
            </div>
        </div>
        <div class="card preview" ng-show="steps.name === 'Shipping Info'">
            <div class="card-content">
                <h5 class="right-align">{{ steps.name }}</h5>
                <p><b>Address</b> : {{ steps.user.address }}</p>
                <p><b>Landmark</b> : {{ steps.user.landmark }}</p>
                <p><b>Postal code</b> : {{ steps.user.postal }}</p>
                <p><b>State</b> : {{ steps.user.state }}</p>
                <p><b>Country</b> : {{ steps.user.country }}</p>
                <p><b>Permanent address: </b>
                    <span ng-if="steps.user.perm_addr_check">Yes</span> <span ng-if="!steps.user.perm_addr_check">No</span>
                </p>
            </div>
            <div class="card-action">
                <a href="#/shipping">Edit</a>
            </div>
        </div>
    </div>
</div>

<script>
    // equalize card heights
    $(document).ready(function(){
        var maxHeight = 0;
        var cardContents = $(".card.preview .card-content");
        cardContents.each(function(){
            if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
        });
        cardContents.height(maxHeight);
    });
</script>