<div class="card-panel">

    <h5 class="right-align">Purchase Order</h5>

    <form name="purchaseForm" ng-repeat="obj in users">

        <div class="row">
            <div class="col l6 m6 s12 input-field">
                <label for="id_name">First Name</label>
                <input id="id_name" name="name" type="text" ng-model="user.name" required/>
            </div>
            <div class="col l6 m6 s12 input-field">
                <label for="id_date">Date</label>
                <input input-date id="id_date" name="date" type="text" class="datepicker" ng-model="user.date" required/>
            </div>
        </div>

        <div class="input-field">
            <select name="gender" ng-options="val as val for val in obj.gender"
                       material-select watch ng-model="user.gender" required>
                <option value="" disabled selected>Gender</option>
            </select>
        </div>

        <div class="right-align">
            <input ng-disabled="purchaseForm.$invalid" class="waves-effect waves-light btn blue"
                     ng-click="update(user)" value="save and continue" type="submit">
        </div>

    </form>

</div>