<!-- uncomment the code below to preview the user model json -->
<!--<pre>
    {{ user | json }}
</pre>-->

<div class="row"> 
    <div class="col l7 m12 s12">

        <form name="purchaseForm" autocomplete="off" novalidate>

            <div class="card-panel">
                <h6 class="right-align header-text">Purchase Voucher</h6>
                <div class="row">
                    <div class="col l6 m6 s12 input-field">
                        <label for="id_ref_no">Reference Number</label>
                        <input id="id_ref_no" name="ref_no" type="text" ng-model="user.ref_no" required/>
                    </div>
                    <div class="col l6 m6 s12 input-field">
                        <label for="id_date">Date</label>
                        <input input-date id="id_date" ng-model="user.date" name="date"
                               type="text" select-years="15" required/>
                    </div>
                </div>
                <div class="input-field">
                    <select name="debtor" ng-options="option.name for option in debtor"
                            material-select watch ng-model="user.debtor" required>
                        <option value="" disabled selected>Debtor</option>
                    </select>
                </div>
            </div>


            <div class="card-panel" ng-repeat="forms in subForms">

                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <label for="id_item">Item</label>
                        <input id="id_item" ng-model="forms.user.item.name" name="rate" type="text"
                               data-activates='search-result-dropdown' dropdown data-beloworigin="true"
                               ng-keyup="fetchResults(forms.user.item.name)" required/>
                        <ul id='search-result-dropdown' class='dropdown-content collection with-header' ng-show="forms.user.item.name">
                            <li class="collection-header">search results</li>
                            <li ng-repeat="options in searchResults">
                                <a ng-click="selectItem(forms.formNo, options.id)">{{ options.name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#add-item-modal" data-dismissible="false" modal>
                                    Could not find item? Add a new one
                                </a>
                            </li>
                        </ul>

                        <!--Add new item modal-->
                        <div id="add-item-modal" class="modal">
                            <a class="modal-close close-modal">&#10006</a>
                            <div class="modal-content">
                                <h6 class="right-align header-text">Add new item</h6>
                                <div class="row">
                                    <div class="col l12 m12 s12 input-field">
                                        <label for="id_new_item">Item name</label>
                                        <input id="id_new_item" name="new-item" type="text" ng-model="user.newItem" required/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col l6 m6 s12 input-field">
                                        <label for="id_new_item_rate">Rate</label>
                                        <input id="id_new_item_rate" name="new-item-rate" type="text"
                                               fcsa-number="" ng-model="user.newItemRate" required/>
                                    </div>
                                    <div class="col l6 m6 s12 input-field">
                                        <label for="id_new_item_unit">unit</label>
                                        <input id="id_new_item_unit" name="new-item-unit" type="text" ng-model="user.newItemUnit" required/>
                                    </div>
                                </div>

                                <div class="right-align">
                                    <input class="modal-close btn btn-flat waves-effect waves-light blue"
                                           ng-disabled="isAddNewItemFormValid(user)" value="Add item"
                                           ng-click="addNewItem(forms.formNo, user)" type="submit"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="input-field col l7 m7 s12">
                        <label for="id_rate" ng-show="forms.user.item.unit">Rate/{{ forms.user.item.unit }}</label>
                        <label for="id_rate" ng-hide="forms.user.item.unit">Rate/unit</label>
                        <input id="id_rate" ng-model="forms.user.item.rate" fcsa-number=""
                               disabled name="rate" type="text" required/>
                        <a href="#edit-rate-modal" data-dismissible="false" modal
                           class="material-icons prefix ion-android-create">
                        </a>

                        <!--Edit item rate modal-->
                        <div id="edit-rate-modal" class="modal">
                            <a class="modal-close close-modal">&#10006</a>
                            <div class="modal-content">
                                <h6 class="right-align header-text">Edit item rate</h6>
                                <div class="center-align">
                                    <div class="chip" ng-if="forms.user.item.name">
                                        item: {{ forms.user.item.name }}
                                    </div>
                                </div>
                                <div class="center-align" ng-if="!forms.user.item.name">
                                    <h6 class="news-title"> Please select an item first ! </h6>
                                </div>
                                <div class="row" style="margin-top: 40px">
                                    <div class="col l6 m6 s12 input-field">
                                        <label for="id_new_item_rate">Rate</label>
                                        <input id="id_edit_item_rate" name="new-item-rate" type="text"
                                               fcsa-number="" ng-model="forms.user.item.rate" required/>
                                    </div>
                                    <div class="col l6 m6 s12 input-field">
                                        <label for="id_new_item_unit">unit</label>
                                        <input id="id_edit_item_unit" name="new-item-unit" type="text" ng-model="forms.user.item.unit" required/>
                                    </div>
                                </div>

                                <div class="right-align">
                                    <input class="modal-close btn btn-flat waves-effect waves-light blue"
                                           ng-disabled="isEditRateFormValid(forms)" value="save changes" type="submit"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-field col l4 m4 s12" style="margin-left: 45px;">
                        <label for="id_item_qty">Item quantity</label>
                        <input id="id_item_qty" name="item_qty" type="text" fcsa-number=""
                               ng-model="forms.user.item_qty" required/>
                    </div>
                </div>
                <div class="input-field">
                    <select name="godown_name" ng-options="option for option in user.debtor.godown"
                            material-select watch ng-model="forms.user.go_site" required>
                        <option value="" disabled selected>Godown site</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col l6 m6 s12 input-field">
                        <label for="id_due_on_date">Due on date</label>
                        <input input-date id="id_due_on_date" ng-model="forms.user.due_on_date"
                               name="date" type="text" select-years="15" required/>
                    </div>
                    <div class="col l6 m6 s12 input-field">
                        <label for="id_payment_date">purchase date</label>
                        <input input-date id="id_payment_date" ng-model="forms.user.payment_date"
                               name="date" type="text" select-years="15" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <label for="id_narrator">Narrator</label>
                        <input id="id_narrator" name="narrator" ng-model="forms.user.narrator" type="text">
                    </div>
                </div>
                <div class="right-align">
                    <input ng-disabled="purchaseForm.$invalid || (!forms.form.isEditable && forms.form.isSubmitted)" 
                           class="waves-effect waves-light btn blue" 
                           ng-click="maintainPurchase(forms.formNo)" value="add new item" type="submit">
                </div>
            </div>
        </form>

        <div class="card-panel right-align">
            <input ng-disabled="!user.subFormDetails.length" class="waves-effect waves-light btn blue"
                   ng-click="submitPayment(user)" value="Submit" type="submit">
        </div>
    </div>

    <div class="col l5 m12 s12">
        <div class="card-panel fixed wow animated pulse" style="border: 2px solid #4285f4" data-wow-delay="0.1s">
            <h6 class="right-align header-text">SUMMARY</h6>
            <table class="centered">
                <thead>
                    <tr>
                        <th data-field="CR-DR"></th>
                        <th data-field="LEDGER">LEDGER A/C</th>
                        <th data-field="AMOUNT" colspan="2">AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>CR.</td>
                        <td>DR.</td>
                    </tr>
                    <tr>
                        <td>CR.</td>
                        <td></td>
                        <td>{{ total }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DR.</td>
                        <td></td>
                        <td></td>
                        <td>{{ total }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="right-align">
                <div class="chip custom-chip">
                    <h6><b>TOTAL = {{ total }}</b></h6>
                </div>
            </div>
        </div>
    </div>
</div>
