<!-- uncomment the code to preview the user model json
<pre>
    {{ user | json }}
</pre> -->

<div class="row"> 
    <div class="col l7 m12 s12">
        <form name="SalesVouchcerForm" novalidate="">
            
            <div class="card-panel">
                <h6 class="right-align header-text">Sales Voucher</h6>
                <div class="row">
                    <div class="col l6 m6 s12 input-field">
                        <label for="id_ref_no">Reference Number</label>
                        <input id="id_ref_no" name="ref_no" type="text" ng-model="user.ref_no" required/>
                    </div>
                    <div class="col l6 m6 s12 input-field">
                        <label for="id_date">Date</label>
                        <input input-date id="id_date" ng-model="user.date" name="date" type="text" select-years="15" required/>
                    </div>
                </div>
                <div class="input-field">
                    <select name="customer" ng-options="option.name for option in customer" material-select watch ng-model="user.customer" required>
                        <option value="" disabled selected>Customer</option>
                    </select>
                </div>
            </div>

            <div class="card-panel" ng-repeat="forms in subForms">
                <div class="row">
                    <div class="input-field col l8 m8 s7">
                        <select name="item_name" material-select ng-options="options.name for options in forms.form.itemName" watch ng-model="forms.user.item" required>
                            <option value="" disabled selected>Item Name</option>
                        </select>
                    </div>
                    <div class="input-field col l4">
                        <label for="id_rate">Rate/item</label>
                        <input id="id_rate" ng-model="forms.user.item.rate" fcsa-number="" name="rate" type="text" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m4 s5">
                        <label for="id_item_qty">Item quantity</label>
                        <input id="id_item_qty" name="item_qty" type="text" fcsa-number="" ng-model="forms.user.item_qty" required/>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <label for="id_item_unit">Unit</label>
                        <input id="id_item_unit" name="item_unit" type="text" fcsa-number="" ng-model="forms.user.item_unit" required/>
                    </div>
                </div>
                <div class="input-field">
                    <select name="godown_name" ng-options="option for option in user.customer.godown" material-select watch ng-model="forms.user.go_site" required>
                        <option value="" disabled selected>Godown site</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col l6 m6 s12 input-field">
                        <label for="id_due_on_date">Due on date</label>
                        <input input-date id="id_due_on_date" ng-model="forms.user.due_on_date" name="date" type="text" select-years="15" required/>
                    </div>
                    <div class="col l6 m6 s12 input-field">
                        <label for="id_payment_date">purchase date</label>
                        <input input-date id="id_payment_date" ng-model="forms.user.payment_date" name="date" type="text" select-years="15" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <label for="id_narrator">Narrator</label>
                        <input id="id_narrator" name="narrator" ng-model="forms.user.narrator" type="text">
                    </div>
                </div>
                <div class="right-align">
                    <input ng-disabled="SalesVouchcerForm.$invalid || (!forms.form.isEditable && forms.form.isSubmitted)" 
                           class="waves-effect waves-light btn blue" 
                           ng-click="maintainPurchase(forms.formNo)" value="add new item" type="submit">
                </div>
            </div>
        </form>
        <div class="card-panel right-align">
            <input ng-disabled="!user.subFormDetails.length" class="waves-effect waves-light btn blue"
                   ng-click="submitPayment(user)" value="Submit" type="submit">
        </div>
    </div>

    <div class="col l5 m12 s12">
        <div class="card-panel fixed wow animated pulse" data-wow-delay="0.1s">
            <h6 class="right-align header-text">Balance Sheet Changes</h6>
            <table class="centered">
                <thead>
                    <tr>
                        <th data-field="CR-DR"></th>
                        <th data-field="LEDGER">LEDGER A/C</th>
                        <th data-field="AMOUNT" colspan="2">AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Credit</td>
                        <td>Debit</td>
                    </tr>
                    <tr>
                        <td>Sales Accounts</td>
                        <td>{{ total }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Current Assets(Sundry Debtors)</td>
                        <td></td>
                        <td>{{ total }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="right-align">
                <div class="chip custom-chip">
                    <h6><b>TOTAL = {{ total }}</b></h6>
                </div>
            </div>
        </div>
    </div>
</div>