<div id="saveChangesModal" class="modal" ng-controller="saveModalController">
    <div class="modal-content">
        <h6 class="right-align header-text">Save Changes</h6>
        <p>Do you want to submit your unsaved work before leaving this page?</p>
    </div>
    <div class="right-align">
        <button class="btn btn-flat waves-effect modal-close waves-light blue" type="submit">Save changes</button>
        <button class="btn btn-flat waves-effect modal-close waves-light red" type="submit">add</button>
    </div>
</div>